/* Main Styles -------------------- */

body {
    background: #333;
    color: #fff;
}

hr {
    background-color: white;
}

/* Navigation -------------------- */

.navbar {
    border-bottom: deepskyblue 3px solid;
}

/* Home Section ------------------- */

.d-lg-block {
    padding-top: 125px;
}

.col-lg-4 {
    margin-top: 65px;
}

.btn-block {
    margin-bottom: 2.6em;
}

#home-section {
    background-size: cover;
    background: url(../img/home-section-image.jpeg) no-repeat;
    min-height: 621px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 621px;
    background-color: rgba(0, 0, 0, 0.7);
}

/*#home-section .home-inner {*/
    /*padding-top: 125px;*/
/*}*/

#home-section .card-form {
    opacity: .9;
    background-color: deepskyblue;
    z-index: 999;
}

.card {
    border-radius: 0;
}

#home-section .fas, #home-section .far, .fab {
    color: deepskyblue;
}

#home-section .fas::before, #home-section .far::before {
    text-shadow: 10px 10px 30px rgba(255, 255, 255, .5);
    z-index: 999;
}

/* Stick In Section ---------------- */

/*#stick-in-head-section {*/
    /*border-top: deepskyblue 4px solid;*/
    /*border-bottom: deepskyblue 4px solid;*/
    /*background-size: cover;*/
    /*background-image: url("../img/image.jpg");*/
/*}*/

#stick-in-image, #share-image  {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .5);
    z-index: 999;
}

#create-image {
    box-shadow: 5px 5px 30px rgba(110, 110, 110, .5);
    z-index: 999;
}

#stick-in-icon, #create-icon {
    color: white;
}

/*#stick-in-head-section .dark-overlay-stick-in {*/
/*position: relative;*/
/*width: 100%;*/
/*background-color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*#create-head-section {*/
    /*border-top: rgb(41, 43, 44) 4px solid;*/
    /*border-bottom: rgb(41, 43, 44) 4px solid;*/
/*}*/

/* Footer Styles ------------------- */

.fa-facebook-f, .fa-twitter, .fa-google-plus-g, .fa-linkedin-in, .fa-instagram, .fa-pinterest, .fa-gg-circle {
    color: rgb(2, 117, 216);
}

#footer-icon {
    color: #1c7430;
}

.color-change {
    background-color: #fff !important;
}
